body{
    background-color: black !important;
    color: white !important;
}
nav{
    background-color: rgb(62, 62, 62);
    margin: 0 40px;
    border-radius: 0 0 20px 20px;
}
.nav_links ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
    margin: 10px 0;
    justify-content: flex-end;
}

.nav_links li{
    /* background-color: black; */
    display: inline-block;
    list-style: none;
    padding: 5px 15px;
    margin: 4px 0px;
}
.nav_links a{
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: rgb(62, 62, 62);
    border-radius: 10px;
}
/* .nav_links :hover{
    
    color: brown !important;
    text-decoration: none !important;
} */
.nmlogo{
    display: inline-block;
    margin: 20px 0px 20px 40px;
}
.clr_k{
    color: rgb(255, 106, 0);
}
.sec_home{
    margin-top: 150px;
}
.sec2{
    display: flex;
    justify-content: center;
}
.sec1{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
/* .sec1 h6{
    margin-top: 25px;
    margin-bottom: 15px;
} */
.sec2 img{
    height: 360px;
    width: fit-content;
    border-radius: 5%;
    border: 5px double rgb(62,62,62);
}
/* .btn_sec :hover{
    margin-left: 10px
} */
/* .btn2 a:hover{
    text-decoration: none;
    color: white;
} */
.sm_links{
    margin-top: 10px;
    margin-left: 0px !important;
    margin-bottom: 5px;
}
.lnks{
    background-color: rgb(62,62,62);
    border-radius: 50%;
    padding: 10px;
    margin: 4px;
}
.pg_heading{
    margin-top: 50px;
    margin-bottom: 50px;
}
.intro p{
    font-size: 24px;
}
.abt_sec{
    margin-top: 30px;
    font-size: 20px;
}
.edu .std_prgm{
    font-size: 28px;
    font-weight: 600;
}
.edu .clg_nm{
    font-size: 24px;
}
.qua, .strm{
    font-size: 18px;
}
/* .edu .strm{

} */
.flex_end{
    display: flex;
    justify-content: flex-end;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
}
/* @media (max-width: 540px) {
    .sec_home .row{
        display: flex;
        flex-direction: column-reverse;
    } */

.edu_clg{
    /* width: 530px; */
    height: 250px;
    border: 4px double white;
    width: 100%;
    /* padding: 0px !important; */
    /* max-inline-size: -webkit-fill-available; */
}

.matrc{
    margin-top: 30px;
}

/* ***************Slill ********************** */
.container_content_bg_nd_pd{
    background-color: rgb(62, 62, 62);
    border-radius: 5px;
}
.skill_bx{
    background-color: #ea9999;
    /* justify-content: center; */
    /* height: 50px; */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.abc{
    width: 50px;
    height: 20px;
}
.skl_logo{
    height: 65px;
    ;
}
/* ******************************************** Experience ************************************************ */
.org_logo{
    border-radius: 5px;
    width: 100%;
}
.exp_cat_head{
    font-size: 25px;
    font-weight: 500;
}
.exp_cat_body{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.info_line{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-bottom: 10px; */
}

.btn :focus {
    outline: none;
  }